@import '../../scss/index.scss';

.dashboard {
  display: flex;
  height: 100dvh;
  width: 100%;
  .sidebar {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 300px;
    padding: 10px 20px;
    gap: 10px;
    height: 100%;
    border-right: 1px solid $gray;
    .logo{
        margin: 10px 0;
        h1{
            font-size: 1.4rem;
            font-weight: 600;
            margin: 0 0 20px 0;
            color: $black;
            text-align: center;
            @media (max-width: 800px) {
                font-size: 1.8rem;
            }
            @media (max-width: 400px) {
                font-size: 1.4rem;
            }
            span{
                color: $blue;
            }
        }
    }
    .link{
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        text-decoration: none;
        font-size: 0.7rem;
        border: 1px solid $gray;
        color: $black;
        margin: 4px 0;
        svg{
            width: 25px;
            height: 25px;
            fill: $black;
        }
        &:hover{
            background-color: $blue;
            color: $white;
            border: 1px solid $blue;
            svg{
                fill: #fff;
            }
        }
        &.active{
            background-color: $blue;
            color: $white;
            border: 1px solid $blue;
            svg{
                fill: #fff;
            }
        }
    }
  }
  .content{
    width: calc(100% - 300px);
    .navbar{
        border-bottom: 1px solid $gray;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        h1{
            font-size: 0.9rem;
            font-weight: 500;
        }
        .profile{
            display: flex;
            align-items: center;
            gap: 20px;
            h3{
                font-size: 0.8rem;
                font-weight: 500;
            }
            button{
                border: 1px solid red;
                background-color: $white;
                color: $red;
                font-size: 0.8rem;
                cursor: pointer;
                padding: 4px 20px;
                border-radius: 5px;
                transition: all 0.3s ease;
                &:hover{
                    background-color: $red;
                    color: $white;
                }
            }
        }
    }
  }
}