@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$blue: #047ac9;
$black: #000;
$white: #fff;
$gray: #00000029;
$green: #0d980d;
$red: salmon;
$yellow: #d9d904;
$purple: #800080;
$orange: #ffa500;
$pink: #ffc0cb;
$brown: #a52a2a;
$teal: #008080;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 40px 0 0 0;
        padding: 10px 40px;
        gap: 10px;
        h1{
            font-size: 2.4rem;
            font-weight: 600;
            margin: 0 0 20px 0;
            color: $black;
            text-align: center;
            @media (max-width: 800px) {
                font-size: 1.8rem;
            }
            @media (max-width: 400px) {
                font-size: 1.4rem;
            }
            span{
                color: $blue;
            }
        }
        p{
            font-size: 0.9rem;
            opacity: 0.7;
            font-weight: 400;
            color: $black;
            text-align: center;
            @media (max-width: 800px) {
                font-size: 0.8rem;
            }
        }
        .hero-buttons{
            display: flex;
            gap: 20px;
            @media (max-width: 400px) {
                flex-direction: column;
            }
            button{
                border: 1px solid transparent;
                background-color: $black;
                color: $white;
                cursor: pointer;
                padding: 8px 20px;
                border-radius: 5px;
                transition: all 0.3s ease;
                @media (max-width: 800px) {
                    font-size: 0.8rem;
                    padding: 6px 15px;
                }
                @media (max-width: 400px) {
                    font-size: 0.7rem;
                    padding: 10px 20px;
                }
                &:hover{
                    background-color: $white;
                    color: $black;
                }
                &.primary{
                    border: 1px solid $blue;
                    background-color: $blue;
                    color: $white;
                }
                &.secondary{
                    background-color: $white;
                    color: $blue;
                    border: 1px solid $blue;
                }
            }
        }
        
    }
    .home-stats{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin: 40px 0;
        @media (max-width: 705px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 20px 0;
        }
        .stat-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            padding: 10px 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            @media (max-width: 800px) {
                padding: 10px 10px;
            }
            @media (max-width: 705px) {
                padding: 20px 20px;
                min-width: 180px;
            }
            .stat-card-icon{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                position: relative;
                svg{
                    width: 60%;
                    height: 60%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            h2{
                font-size: 1.7rem;
                font-weight: 600;
                color: $black;
                @media (max-width: 800px) {
                    font-size: 1.2rem;
                }
            }
            p{
                font-size: 0.8rem;
                font-weight: 400;
                opacity: 0.7;
                color: $black;
                @media (max-width: 800px) {
                    font-size: 0.7rem;
                }
            }
            &:hover{
                transform: scale(1.05);
                transition: all 0.3s ease;
            }
        }
    }
    .how-it-works{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 40px;
        gap: 10px;
        h2{
            font-size: 1.5rem;
            font-weight: 600;
            margin: 0 0 20px 0;
            color: $blue;
        }
        .steps{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            width: 100%;
            @media (max-width: 705px) {
                flex-direction: column;
                gap: 20px;  
            }
            .step{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 10px 10px;
                gap: 10px;
                max-width: 350px;
                @media (max-width: 705px) {
                    max-width: 400px;
                    padding: 10px 20px;
                }
                .icon{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    position: relative;
                    border: 1px solid $gray;
                    svg{
                        width: 60%;
                        height: 60%;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        top: 50%;
                        left: 50%;
                    }
                }
                h3{
                    font-size: 1rem;
                    font-weight: 600;
                    color: $black;
                }
                p{
                    font-size: 0.7rem;
                    font-weight: 400;
                    opacity: 0.7;
                    color: $black;
                    text-align: center;
                }
                &:hover{
                    transform: scale(1.05);
                    transition: all 0.3s ease;
                }
            }
        }
    }
}